header {
  background-color: var(--button-background-color);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem;
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}

.logo {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-list li {
  padding: 0.5rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--button-text-color);
}

.nav-list li:hover {
  background-color: var(--button-hover-background-color);
  border-radius: 10px;
}

.menu-container {
  display: none;
}

@media (max-width: 840px) {
  .nav-container {
    display: none;
  }

  .menu-container {
    display: flex;
    cursor: pointer;
  }

  .menu-toggle {
    font-size: 2rem;
  }

  .menu-toggle:hover {
    rotate: 90deg;
  }

  .menu-active .nav-list {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--button-background-color);
    padding: 2rem;
    z-index: 1;
  }

  .menu-active .nav-list li {
    width: 100%;
    padding: 1rem;
  }
}
