.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  padding: 1rem;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.book {
  position: relative;
  margin-top: -170px;
  z-index: 2;
}
