.table-container {
  width: 80%;
  margin: 1.25rem auto;
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 15px;
  padding: 2rem;
  height: fit-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead tr th {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 2rem;
  text-align: left;
}

tbody tr {
  background-color: var(--input-background-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--form-background-color);
}

tbody tr td {
  padding: 1.5rem;
}

tbody tr:last-child td {
  border-bottom: none;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

@media (max-width: 840px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    margin-bottom: 1rem;
    border: 1px solid var(--form-border-color);
    border-radius: 10px;
    padding: 1rem;
  }

  tbody tr td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  tbody tr td:before {
    content: attr(data-label);
    color: var(--button-background-color);
    position: absolute;
    left: 1rem;
    padding: 1rem;
    top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: var(--form-background-color);
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  button{
    width: 100%;
  }

  input{
    width: 94%;
  }
}

.dialog-box h2 {
  margin-bottom: 1.5rem;
}