.user-container {
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin: auto;
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  flex-direction: column;
  padding: 2rem;
  gap: 5rem;
}

.table-container {
  width: 100%;
  height: fit-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead tr th {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 2rem;
  text-align: left;
}

tbody tr {
  background-color: var(--input-background-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--form-background-color);
}

tbody tr td {
  padding: 1.5rem;
}

tbody tr:last-child td {
  border-bottom: none;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

@media (max-width: 840px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    margin-bottom: 1rem;
    border: 1px solid var(--form-border-color);
    border-radius: 10px;
    padding: 1rem;
  }

  tbody tr td {
    display: block;
    text-align: left;
    position: relative;
    padding-left: 50%;
  }

  tbody tr td:before {
    content: attr(data-label);
    color: var(--button-background-color);
    position: absolute;
    left: 1rem;
    padding: 1rem;
    top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  display: flex;
  flex-direction: column;
  background-color: var(--form-background-color);
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
}

.dialog-box h2 {
  margin-bottom: 1.5rem;
}

.buttons_dialog {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.buttons_dialog button {
  width: 50%;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
}

.search {
  display: flex;
  padding: 0;
  padding-left: 2rem;
  border: 1px solid var(--button-background-color);
  width: 85%;
  border-radius: 10px;
  height: 50px;
  outline: none;
}

.lupa {
  padding: 0;
  border: 1px solid var(--button-background-color);
  margin-left: -45px;
  display: flex;
  background-color: var(--button-background-color);
  width: 50px;
  border-radius: 0 10px 10px 0;
  height: 50px;
  justify-content: center;
  align-items: center;

  img {
    height: 30px;
    width: 30px;
  }
}
